In [1]:
import pandas as pd
import numpy as np 

data = pd.read_json("./instagram.json")

data.head(20)

,Rank,Name,Channel Info,Category,Posts,Followers,Avg. Likes,Eng Rate
0,1,instagram,brand,photography,7300,580100000,7310,0.001
1,2,cristiano,male,"Health, Sports & Fitness",3400,519900000,3410,0.014
2,3,leomessi,male,"Health, Sports & Fitness",1000,403700000,970,0.017
3,4,kyliejenner,female,entertainment,7000,375900000,7020,0.017
4,5,selenagomez,female,entertainment,1800,365300000,1850,0.011
5,6,therock,male,entertainment,7000,354300000,7030,0.003
6,7,arianagrande,female,entertainment,5000,345600000,4980,0.014
7,8,kimkardashian,female,entertainment,5700,336300000,5730,0.009
8,9,beyonce,female,entertainment,2100,287300000,2050,0.010
9,10,khloekardashian,female,entertainment,4200,283900000,4190,0.005
10,11,justinbieber,male,entertainment,7400,270200000,7390,0.005
11,12,nike,brand,"Health, Sports & Fitness",1000,257600000,1030,0.001
12,13,taylorswift,male,entertainment,562000,236200000,1000,0.013
13,14,jlo,female,entertainment,220000,228800000,220000,0.005
14,15,virat.kohli,male,None,1500,228000000,1480,0.012
15,16,kendalljenner,male,None,731000,223400000,731000,0.023
16,17,natgeo,brand,entertainment,26700,220600000,26710,0.001
17,18,nickiminaj,female,entertainment,6400,206800000,6440,0.008
18,19,kourtneykardash,female,entertainment,4400,206200000,4420,0.008
19,20,kendalljenner,male,None,824000,204400000,824000,0.025

#### Carregar o data por um arquivo .json ✅
#### Carregar o data por um arquivo .csv ✅
#### Exibir os 20 primeiros dados carregados ✅
#### Exibir os 20 ultimos dados carregados ✅


#### verificar se existe algum campo com dados nulos ✅
#### limpar esses dados nulos para analise e substituis para não informado ✅

#### soma total de todos os posts do insta ✅
#### quem possui o maior numero de posts no total ✅
#### quem possui o menor numero de posts no total ✅

#### top 10 perfil com maiores numeros  posts ✅
#### top 10 perfil com menores numeros posts ✅
#### top 5 maiores posts masculinos ✅
#### top 5 maiores posts femininos ✅
#### top 5 maiores posts por marca ✅

In [15]:
data.tail(20)

,Rank,Name,Channel Info,Category,Posts,Followers,Avg. Likes,Eng Rate
180,181,danialves,male,"Health, Sports & Fitness",3400,37400000,3400,0.008
181,182,gisel_la,female,entertainment,10200,37400000,10170,0.002
182,183,blakelively,male,entertainment,121000,37000000,121000,0.056
183,184,chelseafc,community,"Health, Sports & Fitness",17300,36600000,17290,0.006
184,185,shahidkapoor,male,entertainment,1200,36600000,1180,0.024
185,186,kimberly.loaiza,female,entertainment,578000,36600000,578000,0.044
186,187,toni.kr8s,male,"Health, Sports & Fitness",1000,36600000,970,0.012
187,188,antogriezmann,male,"Health, Sports & Fitness",872000,36400000,872000,0.018
188,189,mercedesbenz,brand,technology,18500,36400000,18480,0.003
189,190,nattinatasha,female,entertainment,54000,36100000,54000,0.013
190,191,tigerjackieshroff,male,entertainment,2200,36100000,2170,0.019
191,192,lunamaya,female,entertainment,4200,36100000,4170,0.002
192,193,mancity,male,"Health, Sports & Fitness",19600,36000000,19560,0.004
193,194,disney,brand,entertainment,7700,35800000,7700,0.003
194,195,barackobama,male,News & Politics,743000,35500000,743000,0.017
195,196,fcbayern,male,"Health, Sports & Fitness",16800,35400000,16780,0.006
196,197,colesprouse,male,entertainment,1100,35300000,1140,0.035
197,198,shaymitchell,male,entertainment,6300,35100000,6310,0.012
198,199,ivetesangalo,female,entertainment,7800,35000000,7770,0.004
199,200,paollaoliveirareal,female,entertainment,4800,34900000,4780,0.007

In [7]:
# transforma Posts em numerico (caso não esteja)
data['Posts'] = pd.to_numeric(data['Posts'], errors='coerce').fillna(0).astype(int)

# veriricando o tipo de cada dado
data.dtypes

Rank              int64
Name             object
Channel Info     object
Category         object
Posts             int64
Followers         int64
Avg. Likes        int64
Eng Rate        float64
dtype: object

In [6]:
# veririficando se algum campo está como null
data.isnull().sum()

Rank            0
Name            0
Channel Info    0
Category        0
Posts           0
Followers       0
Avg. Likes      0
Eng Rate        0
dtype: int64

In [5]:
# substituir o null por outra coisa inplace=True para que a substituição seja feita
data['Channel Info'].fillna('untold', inplace=True)
data['Category'].fillna('untold', inplace=True)

In [9]:
# somando todos os posts
sumPosts = data['Posts'].sum()

print(sumPosts)

21616200

In [10]:
total_posts_by_name = data.groupby('Name')['Posts'].sum()

#idmax Retorne a posição do array com o maior valor (que no caso é o nome) e depois  com .max para exibir qual o maior valor dentro de posts 
name_with_most_posts = total_posts_by_name.idxmax(skipna= True)
max_posts = total_posts_by_name.max()

print(f"O nome com o maior total de posts é {name_with_most_posts}, com {max_posts} posts.")

O nome com o maior total de posts é kendalljenner, com 1555000 posts.

In [11]:
# criando uma funcao para somar todos os posts e temos agrupar com name abaixo
def calcule_total_posts(group):
    return group['Posts'].sum()

total_posts_by_name = data.groupby('Name').apply(calcule_total_posts)

# skipna = vai pular se tiver algum null
name_with_min_posts = total_posts_by_name.idxmin(skipna= True)
min_posts = total_posts_by_name.min()

print(f"O nome com o menor total de posts é {name_with_min_posts}, com {min_posts} posts.")

O nome com o menor total de posts é chrishemsworth, com 900 posts.

In [12]:
def filter_by_gender(data, gender):
    filtered_data = data[data['Channel Info'].str.lower() == gender]
    return filtered_data.groupby('Name')['Posts'].sum().nlargest(5)

top_5_male_posts = filter_by_gender(data, 'male')

top_5_female_posts = filter_by_gender(data, 'female')

top_5_brand_posts = filter_by_gender(data, 'brand')

print("\nTop 5 maiores posts masculinos:")
print(top_5_male_posts)
print("\nTop 5 maiores posts femininos:")
print(top_5_female_posts)
print("\nTop 5 maiores posts marcas:")
print(top_5_brand_posts)

Top 5 maiores posts masculinos:
Name
kendalljenner       1555000
antogriezmann        872000
mosalah              870000
justintimberlake     790000
theweeknd            758000
Name: Posts, dtype: int64

Top 5 maiores posts femininos:
Name
saraalikhan95      889000
roses_are_rosie    879000
georginagio        778000
billieeilish       737000
kimberly.loaiza    578000
Name: Posts, dtype: int64

Top 5 maiores posts marcas:
Name
natgeo           26700
mercedesbenz     18500
natgeotravel     17200
5.min.crafts     15500
voguemagazine    11000
Name: Posts, dtype: int64

In [14]:

def filter_values(group):
    # Soma os posts
    return group['Posts'].sum()

# Aplicar a função e passar o parâmetro ascending
def get_top_posts(data, top_n, ascending):
    # Calcular a soma dos posts por nome e ordenar os valores
    top_posts = data.groupby('Name').apply(filter_values).sort_values(ascending=ascending).head(top_n)
    return top_posts

# Obter o Top 10 maiores posts (descending order)
top_10_maiores_posts2 = get_top_posts(data, top_n=5, ascending=False)
print("\nTop 10 maiores posts:")
print(top_10_maiores_posts2)

# Obter o Top 10 menores posts (ascending order)
top_10_menores_posts2 = get_top_posts(data, top_n=8, ascending=True)
print("\nTop 10 menores posts:")
print(top_10_menores_posts2)

Top 10 maiores posts:
Name
kendalljenner      1555000
saraalikhan95       889000
roses_are_rosie     879000
antogriezmann       872000
mosalah             870000
dtype: int64

Top 10 menores posts:
Name
sooyaaa__                900
lalalalisa_m             900
iamzlatanibrahimovic     900
chrishemsworth           900
jennierubyjane           900
leomessi                1000
nike                    1000
toni.kr8s               1000
dtype: int64